@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;800&display=swap');
* {
    margin: 0;
    padding: 0;
    background-size: 50%;
}
body {
    background-image: url(img/back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    

}
.container {
    width: 100%;
    height: 100vh;
}
#meteoro {
    width: 15em;
}
#tierra {
    transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
    transform: rotate(0);
    width: 46em;
    animation: rotation 5s linear infinite paused;

}
#tierra:hover {
        animation-play-state: running;

}
/*
Datos de la tierra
*/
.datos-tierra h1 {
    font-family: "Rubik";
    font-size: 2em;
    font-weight: 600;
    color: #f5f5f5;
    padding: 10px;
}
.datos-tierra h2 {
    font-size: 1.5em;
    color: aliceblue;
    font-family: "Rubik";
    font-weight: 100;
    padding: 10px;
}
/*
Rotacion de la tierra
*/
@keyframes rotation {
    from { transform: rotate(0) ;}
    to { transform: rotate(360deg) ;}

}
/* nav bar*/
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    margin-left: 3em;
    position: absolute;
    width: 90%;
}
.logo img {
    width: 70px;
}
.nav-buttons ul {
    display: flex;
    justify-content: space-between;
}
.nav-buttons ul li a {
    font-family: "Rubik";
    list-style-type: none;
    text-decoration: none;
    color: aliceblue;
    font-size: 1.3em;
    padding: 30px;
    font-weight: 500;
    transition: all ease-in-out 0.5s;

}
.nav-buttons ul li a:hover {
    background: linear-gradient(180deg, rgba(255,81,0,1) 0%, rgba(255,119,0,1) 100%);
    -webkit-text-fill-color: transparent;
    transition: all ease-in-out 0.5s;
    -webkit-background-clip: text;
}

/* centrar home */
.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}






/* Barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px;
    /* Ancho de la barra de desplazamiento */

}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 113, 241);

}

/* Pista de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background-image: url(img/back.jpg);

    /* Color de fondo de la pista de la barra de desplazamiento */

}

/* Pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: #0004ff;
    /* Color del pulgar de la barra de desplazamiento */
    /* box-shadow: inset 0px 0px 20px rgb(109, 33, 233); */

}

/* Esquina de la barra de desplazamiento */
::-webkit-scrollbar-corner {
    background-color: #f5f5f5;
    /* Color de fondo de la esquina de la barra de desplazamiento */
}

/* Botones de la barra de desplazamiento */
::-webkit-scrollbar-button {
    display: none;
    /* Ocultar los botones de la barra de desplazamiento */
}

